.footer {
  background-color: #3d4050;
  margin-top: 1.5rem;

  @media (min-width: $m) {
    margin-top: 3rem;
  }

  @media (min-width: $l) {
    margin-top: rem(150);
  }

  &__item {
    @media (min-width: $m) {
      position: relative;

      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(1rem, -50%);
          width: 1px;
          height: 1rem;
          background-color: #c3c3c3;
        }
      }
    }

    @media (min-width: $l) {
      &:not(:last-child) {
        &::after {
          transform: translate(2.5rem, -50%);
        }
      }
    }
  }

  &__wrapper {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0;

    @media (min-width: $m) {
      flex-direction: row;
      padding: 2rem 0;
    }

    @media (min-width: $l) {
      align-items: center;
      padding: rem(30) 0;
    }
  }

  &__copyright {
    order: 1;
    margin: 0;
    text-align: center;
    font-size: rem(13);
    line-height: lhPer(13, 16);

    @media (max-width: $m) {
      padding: 0 2rem;
    }

    @media (min-width: $m) {
      order: 0;
      width: rem(180);
      text-align: left;
    }

    @media (min-width: $l) {
      width: auto;
    }
  }

  &__copyright-upper {
    text-transform: uppercase;
  }

  &__payment-list {
    @include reset-list;
    padding: .5rem 0;

    @media (min-width: $m) {
      padding: 0;
    }
  }

  &__contact-list {
    @include reset-list;
    padding: .5rem 0;

    @media (min-width: $m) {
      padding: 0;
    }
  }
}