.header {
  background-color: rgba(16, 16, 29, 0.9);
  color: #ffffff;
  padding: rem(25) 1rem;
  @include flex(column);
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 80px;

  &__wrapper {
    @media (min-width: $m) {
      @include flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    width: 210px;
    object-fit: contain;
  }
}