.main {
  &__wrapper {
    padding-bottom: 1.5rem;
    background-image: url("../../img/back-main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #272733;
    object-fit: cover;
    padding-top: rem(60);

    @media (min-width: $m) {
      padding-top: rem(50);
      padding-bottom: 3rem;
    }

    @media (min-width: $l) {
      padding-top: rem(120);
      padding-bottom: rem(150);
    }
  }
}