.navigation {
  &__list {
    @include reset-list;
    flex-wrap: wrap;
    gap: rem(15) rem(60);
    align-items: center;
    display: none;

    &--open {
      @include flex(column);
      position: absolute;
      align-items: center;
      top: 83px;
      left: 50%;
      transform: translate(-50%);
      width: 320px;
      background-color: rgba(16,16,29,.9);
      z-index: 1;

      & .navigation__item {
        width: 100%;
      }

      & .navigation__link {
        padding: .7rem 2rem;
        text-align: center;
      }
    }

    @media (min-width: $m) {
      @include flex;
      gap: rem(10);
    }
  }

  &__link {
    color: $light-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(20);
    line-height: lhPer(13, 16);
    padding: .5rem 1.5rem;
    display: block;

    &--current {
      color: $link-current-color;
    }

    @media (min-width: $m) {
      font-size: rem(13);
      padding: rem(5) rem(8);
      font-weight: 500;
    }
  }
}