.scheme {
  &__title {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size: rem(36);
    line-height: lhPer(36, 43);
    margin-top: 0;

    @media (min-width: $l) {
      margin-bottom: rem(30);
    }
  }

  &__hint {
    font-size: rem(16);
    font-weight: 400;
    line-height: lhPer(18, 22);
    color: #bbbbbb;
    text-align: center;
  }
}