$main-font-size: 18;

$light-color: #ffffff;
$light-button: #ffffff;
$light-button-hover: #e5e5e5;
$light-button-active: #c6c4c4;
$link-current-color: #43abf0;
$link-hover-color: #63b9f1;
$text-accentuum: #3e9cdc;
$dark-button: #3e9cdc;
$dark-button-hover: #2391da;
$dark-button-active: #1b73ae;
$button-light-color: #2a2b30;

$s: 320px;
$m: 768px;
$l: 1180px;